<!-- <main>
  <landing-page-header></landing-page-header>
  <section class="landing-container">
    <h2 class="headline">
      Lasting <br /> Fragrance Spot
    </h2>
    <p>
      Access to wide range of fragrance perfumes with lasting scent and attractive promise.
    </p>
    <button class="btn btn-secondary mt-4">
      Shop Fragrance
    </button>
  </section>

  <section class="d-flex">
    <div class="w-30">
      <product></product>
    </div>
    <div>
      <product></product>
    </div>
    
  </section>
</main> -->
<landing-page-header></landing-page-header>
<div class="banner">
  <div class="container">
    <!-- heading -->
    <h2>Elegant Fragrance</h2>
    <!-- sub heading -->
    <h3>We sell wide range of fragrance perfumes with lasting scent and attractive promise</h3>
    <!-- access button -->
    <a href="#" class="btn btn-secondary">Buy Fragrance</a>
  </div>
</div>

<div class="works" id="work">
  <div class="container">
    <!-- default heading -->
    <div class="default-heading">
      <!-- heading -->
      <h2>Products</h2>
      <!-- paragraph -->
      <p>Available products in our catelog.<br>Special request can be made here.</p>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of products$ | async">
        <div class="work-item">
          <img class="img-responsive product_image" src="{{product.imageUrl}}" alt="" width="100%" />
          <h3><a href="#">{{ product.name }}</a></h3>
          <span class="org">12ml</span>
          <button class="btn btn-secondary">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="../../../assets/images/oil.jpeg" alt="" />
          <!-- heading -->
          <h3><a href="#">Bacarrat Rogue</a></h3>
          <button class="btn btn-secondary">Add to Cart</button>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Bacarrat Rogue</a></h3>
          <!-- brand org -->
          <button class="btn btn-secondary">Add to Cart</button>
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
      <div class="col-md-3">
        <!-- work item -->
        <div class="work-item">
          <!-- work details image -->
          <img class="img-responsive" src="img/work/1.jpg" alt="" />
          <!-- heading -->
          <h3><a href="#">Anglicising Edit</a></h3>
          <!-- brand org -->
          <span class="org">Commercial</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>