<main>
  <landing-page-header></landing-page-header>
  <section>
    <div class="col-md-5 mx-auto login-container mt-5 pt-5">
      <form class="w-75 mx-auto">
        <div class="input-group mb-3 ">
          <input class="form-control" type="email" placeholder="Email" name="email" required />
        </div>
        <div class="input-group mb-3 ">
          <input class="form-control" type="text" placeholder="Full Name" name="full_name" required />
        </div>
        <div class="input-group mb-3 ">
          <input class="form-control" type="text" placeholder="Phone Number" name="phone_number" required />
        </div>
        <div class="input-group mb-3">
          <input class="form-control" type="password" placeholder="Password" name="password" required />
        </div>
        <input type="submit" value="Register" class="btn btn-primary float-end" />
      </form>
    </div>
  </section>
</main>