<div class="prod-container">
  <div class="prod-inner-container">
    <div class="prod-img-container">
      <img src="../../../assets/images/random.jpg" alt="random" width="100%" height="100%">
    </div>
  </div>
  <div>
    <p>Lush</p>
    <p> GHC 14</p>
  </div>
  <div>
    <img src="../../../assets/images/star.png" alt="star" width="15%"/>
    <img src="../../../assets/images/star.png" alt="star" width="15%"/>
    <img src="../../../assets/images/star.png" alt="star" width="15%"/>
    <img src="../../../assets/images/star.png" alt="star" width="15%"/>
    <img src="../../../assets/images/star.png" alt="star" width="15%"/>
  </div>
  <button>Add to Cart</button>
</div>