<footer>
  <div class="container">
    <p><a href="#">Home</a> | <a href="#work">works</a> | <a href="#team">Team</a> | <a href="#contact">Contact</a></p>
    <!-- logo image -->
    <img class="img-responsive" src="../../../assets/images/logo.png" alt="Logo" />
    <div class="social">
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
    <!-- copy right -->
    <!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
    <p class="copy-right">Copyright &copy; 2022 <br> All rights reserved. </p>
  </div>
</footer>